@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'components/_variables.css';
@import 'components/_navbar.css';
@import 'components/_footer.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: 'Courier Prime', monospace;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.content-wrapper {
  padding-top: 86px;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding-bottom: 45rem;
}

.title {
  padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--clr-accent);
  text-align: center;
}

.subtitle {
  font-family: 'Courier Prime', monospace;
  font-weight: 500;
  text-transform: lowercase;
  font-size: clamp(1.5rem, 2.2vw, 2rem);
  color: var(--clr-text);
  text-align: center;
}

/* CARD */

.primary-image {
  width: 75%;
  object-fit: cover;
  margin: 10vh auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: var(--clr-bg);
  box-shadow: 0px 6px 15px black;
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--clr-accent);
  text-align: left;
  position: relative;
}

.index-card-title::after {
  /* per card magic number ( from inspect element) */
  width: 130px;
}

.card-title::after {
  content: ' ';
  position: absolute;
  height: 2px;
  top: 2rem;
  left: 0;
  right: 0;
  background: var(--clr-bg);
  box-shadow: 0px 4px 4px black;
}

.btn {
  text-align: center;
  align-self: center;
  background: var(--clr-bg);
  color: var(--clr-accent);
  font-family: var(--txt-courier);
  box-shadow: 0px 6px 10px black;
  padding: 0.75rem;
  cursor: pointer;
  border: 0;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 25px;
}

/* Media Queries (desktop transition) */
@media screen and (min-width: 768px) {
  .title {
    padding-top: 4.5rem; /* just to add some more spacing between the title and navbar */
  }

  /* footer fix */
  .content-wrapper {
    padding-bottom: 62rem;
  }

  /* Card queries */
  .primary-image {
    max-height: 743px;
    min-width: 70%;
    max-width: 1509px;
    object-fit: cover;
  }
  .primary-image{
    margin-bottom: 250px;
  }
  .card-container {
    width: 55%;
    position: absolute;
  }

  /* card placements */
  .card-container:nth-of-type(1) {
    top: 1020px;
  }

  .card-container:nth-of-type(2) {
    top: 2180px;
  }

  .card-container:nth-of-type(3) {
    top: 3250px;
  }

  .card-title {
    font-size: 2rem;
  }
  .card-txt {
    max-width: 80%;
    font-size: 1.3rem;
  }
  .btn {
    align-self: auto;
  }
}

/* footer fix */

@media screen and (min-width: 1000px) {
  .content-wrapper {
    padding-bottom: 50rem;
  }
}

@media screen and (min-width: 1250px) {
  .content-wrapper {
    padding-bottom: 45rem;
  }
}
