@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'components/_variables.css';
@import 'components/_navbar.css';
@import 'components/_footer.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: 'Courier Prime', monospace;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.content-wrapper {
  padding-top: 86px;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding-bottom: 45rem;
}

.title {
  padding-top: 2rem;
  font-family: var(--txt-roboto);
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 5rem);
  color: var(--clr-accent);
  text-align: center;
  max-width: 95%;
}

.subtitle {
  font-family: var(--txt-courier);
  font-weight: 500;
  text-transform: lowercase;
  font-size: clamp(1.5rem, 2.2vw, 2rem);
  color: var(--clr-text);
  text-align: center;
}

/* CARD */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 10vh 0 0 0;
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--clr-bg);
  box-shadow: 0px 6px 15px black;
  padding: 0 5%;
  margin-top: 5%;
}

.card-title {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: var(--txt-roboto);
  color: var(--clr-accent);
  text-align: left;
  position: relative;
}

.card-title::after {
  content: ' ';
  width: clamp(6.2rem, 10vw, 25rem);
  position: absolute;
  height: 3px;
  top: clamp(1.7rem, 2.4vw, 4rem);
  left: 0;
  right: 0;
  background: var(--clr-bg);
  box-shadow: 0 0 10px black;
}

.card-txt {
  font-family: var(--txt-courier);
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}

.btn {
  text-align: center;
  align-self: center;
  background: var(--clr-bg);
  color: var(--clr-accent);
  font-family: var(--txt-courier);
  box-shadow: 0px 6px 10px black;
  padding: 0.75rem;
  cursor: pointer;
  border: 0;
  font-size: clamp(1rem, 3vw, 1.4rem);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 25px;
  transition: transform 0.3s ease-out;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

/* Info-cards */

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.info-container-specific {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-container-specific .fal, .fas {
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}

.info-txt {
  margin-left: 5%;
  font-family: var(--txt-courier);
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}

.ticket {
  transform: rotate(-45deg);
}

.center {
  justify-content: center;
}

.center-txt {
  color: var(--clr-accent);
  text-align: center;
}

/* Media Queries (desktop transition) */
@media screen and (min-width: 768px) {
  .title {
    padding-top: 4.5rem; /* just to add some more spacing between the title and navbar */
  }
  /* Card queries */
  .card-container {
    display: grid;
    box-shadow: 0px 6px 15px black;
    overflow: hidden;
  }
  .card-image-container {
    height: 100%;
    grid-column: 1;
  }
  .card-image {
    height: 100%;
    padding-bottom: 0;
  }
  .card {
    max-width: 100%;
    box-shadow: unset;
    margin-top: 0;
    padding-bottom: 0%;
    grid-column: 2;
  }
  .card-title::after {
    height: 4px;
  }
  .card-txt {
    max-width: 100%;
  }
  .btn {
    align-self: auto;
  }
}


/* Media Queries bug fixes */

/* fix for when card titles wrap, the underlying line has to follow. */

@media screen and (max-width: 322px) {
  .biology::after {
    top: 4rem;
  }
}

@media screen and (max-width: 374px) {
  .aero::after {
    top: 4rem;
  }
}
