footer {
  margin-top: auto;
  background: var(--background);
  box-shadow: inset 0px 4px 10px;
}

.footer-content {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.8fr 0.15fr;
}

.footer-section {
  margin-left: 20px;
}

.footer-title {
  color: var(--orange);
}

.footer-txt {
  color: var(--light);
}

.footer-bottom {
  color: var(--light);
  text-align: center;
}

.footer-bottom a{
  text-decoration: none;
  color: var(--light);
  font-weight: 700;
}
