/* Navigation Styling */

header {
  background-color: var(--clr-bg);
  min-height: 86px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 6px 15px black;
}

.active {
  border-bottom: 2px solid var(--clr-text);
}


.yourDiv, .logo-a {
  height: 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.links,
#hamburger-menu {
  display: none;
  height: 100vh;
  position: fixed;
}

.links li {
  display: flex;
  justify-content: center;
}

.links a {
  color: var(--clr-text);
  text-decoration: none;
}

#hamburger-menu:checked ~ .links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  left: 0%;
  transform: translateY(-5%);
}

#menu-close {
  display: none;
}

#hamburger-menu:checked > .yourDiv{
  display: none;
}

#hamburger-menu:checked + label #menu-close {
  display: block;
}

/*---- Media Queries ----*/
