/* Navigation Styling */

header {
  background-color: var(--clr-bg);
  min-height: 86px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 6px 15px black;
}

.active {
  border-bottom: 2px solid var(--clr-text);
}

.yourDiv,
.logo-a {
  height: 86px;
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  align-items: center;
  flex-direction: row-reverse;
}

#hamburger-menu {
  display: none;
  align-items: center;
}

.links {
  display: none;
  height: 100vh;
  position: fixed;
}

.links li {
  display: flex;
  justify-content: center;
}

.links a {
  color: var(--clr-text);
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.5em;
}

#hamburger-menu:checked ~ .links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  left: 0%;
  transform: translateY(-5%);
}

#menu-close,
#menu-open {
  font-size: 25px;
}

#menu-close {
  display: none;
  margin-bottom: 10px;
}

#hamburger-menu:checked ~ .yourDiv > label #menu-open {
  display: none;
}

#hamburger-menu:checked ~ .yourDiv > label #menu-close {
  display: block;
}

/*---- Media Queries ----*/
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .yourDiv {
    margin: unset;
  }
  .hamburger-label {
    display: none;
  }
  .links {
    all: unset;
    display: flex;
    flex-direction: row;
    flex-grow: 0.5;
    justify-content: space-evenly;
  }
  .links li {
    all: unset;
    display: flex;
  }
  .links a {
    margin: auto;
    font-size: 1.3em;
    position: relative;
  }
  .inactive::before{
    content: '';
    display: block;
    height: 2px;
    background: var(--clr-text);
    position: absolute;
    top: 1.2em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  .inactive:hover::before {
    transform: scale(1, 1);
  }
}
